.nav-bar {
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 125%;
    font-weight: 400;
    line-height: 29px;
}

.nav-bar .menu {
    display: none;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.nav-bar li {
    list-style-type: none;
    margin: 10px 20px 20px 0px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar li:first-child a {
    color: $deep-orange;
}

.hero-image {
    background: url(../assets/header-burger.png);
    height: 100vh;
    // height: 68vh;
    background-repeat: no-repeat;
    background-size: contain;


    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
}

.header-contain {

    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
    // position: absolute;
    // left: 50%;

}


h1 span {
    display: block;
}

.social-media li {
    list-style-type: none;
    margin-bottom: 10px;
}

.social-media {
    color: $deep-orange;
    padding: 0;
    margin: 0 40px;
}