.food-bar {
    background-color: $deep-orange;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.food-bar i {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 30px;
    font-size: 1.875rem;
    font-weight: 700;
    color: #ffffff;
}

.food-bar i:before {
    font-size: 60px;
    margin-bottom: 20px;
}


.food-gallery ul {
    display: flex;
    justify-content: center;
    width: calc ((100vw / 3));
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

.food-gallery h2 {
    text-align: center;
    padding: 70px 0px;
    margin: 0;
}

.food-gallery li {
    list-style-type: none;
}

.food-gallery li:nth-child(2) {
    margin: 0 20px;
}