.main-content {
    display: flex;
}

.main-wording {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 0 100px;
}

.image-container {
    width: 50%;
}

.flip .main-wording {
    order: 1;
}

.second-panel {
    background-color: $darker-grey;
}

.desserts-panel {
    display: flex;
}

.dessert-wording {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.dessert-wording h2 {
    margin: 0;
}

.wrap-image-container {
    margin: 100px 50px;
}