$deep-orange: #E75605;
$darker-grey: #1f202213;
$white: #FFFFFF;
$header-font: 'Montserrat', sans-serif;
$p-font: 'Catamaran', sans-serif;


@import 'setup';
@import 'header';
@import 'main';
@import 'main2';
@import 'footer';
@import 'media';