$deep-orange: #E75605;
$darker-grey: #1f202213;
$white: #FFFFFF;
$header-font: 'Montserrat', sans-serif;
$p-font: 'Catamaran', sans-serif;


@import './partials/setup';
@import './partials/header';
@import './partials/main';
@import './partials/main2';
@import './partials/footer';
@import './partials/media';