@media (max-width: 720px) {
  .nav-bar ul {
    display: none;
  }

  .nav-bar .menu {
    border: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }

  .header-contain {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    padding-top: 100px;
    margin-right: -150px;
  }

  .hero-image {
    background-position: bottom left;
    background-position-x: 100%;
    background-size: auto;
  }

  .social-media li {
    display: none;
  }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-wording {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 100px 0px;
  }

  .main-wording h2 {
    margin-top: 0px;
  }

  .image-container {
    width: 100%;
  }

  .media-flip .main-wording {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .desserts-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .dessert-wording {
    display: inline-block;
    text-align: flex-start;
    width: 100%;
    margin-bottom: 60px;
  }

  .dessert-wording h2 {
    text-align: center;
    margin-bottom: 35px;
  }

  .dessert-wording button {
    display: block;
    margin: 0 auto;
  }

  .wrap-image-container {
    width: 100%;
  }

  .food-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }

  .food-bar i {
    margin: 30px;
  }

  .food-gallery li:nth-child(3) {
    display: none;
  }

  .food-gallery ul {
    width: 100%;
    padding-bottom: 50px;
  }

  footer .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .end-note {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .updates form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-info p:nth-child(4) {
    margin-bottom: 50px;
  }

  .updates input {
    width: 100%;
  }
}